body,
html {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: $font-stack;
  font-size: 100%;
  background-color: $color-teal;
  color: $color-white;

  #__layout,
  #__nuxt,
  #app {
    height: 100%;
  }
  @include mobile {
    font-size: 90%;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  * {
    box-sizing: border-box;
  }

  #app {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}

:root {
  --scroll: -100%;
}

.main {
  $self: &;
  padding: 60px 0;
  height: 100%;

  &__bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("~@/assets/gfx/lodge92_bg_s.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    @include tablet {
      background-image: url("~@/assets/gfx/lodge92_bg_hd.jpg");
    }
    @include desktop {
      background-image: url("~@/assets/gfx/lodge92_bg_fhd.jpg");
    }
    @include desktop-lg {
      background-image: url("~@/assets/gfx/lodge92_bg_4k.jpg");
    }
  }

  &__section {
    position: relative;
    z-index: 1;

    &--start {
      .container {
        display: flex;
        flex-flow: column;
        align-items: center;
      }
    }
  }

  &__btn {
    @include btn;
    padding: 25px 20px;
    font-size: 1.1em;

    &s {
      display: flex;
      margin: 60px 0 0;
    }

    &--icon {
      display: flex;
      align-items: center;

      &:before {
        display: block;
        font-family: "Material Icons";
        font-size: 1.5em;
        margin-right: 7.5px;
      }
    }

    &--gallery {
      &:before {
        content: "photo";
      }
    }

    &--booking {
      &:before {
        content: "calendar_today";
      }
    }
  }

  &__title {
    text-align: center;
  }

  &__logo {
    max-width: 320px;
    // filter: drop-shadow(0 0 5px white);
    svg {
      width: 100%;
      height: auto;
    }
  }
}

.text {
  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
    @include mobile {
      text-align: center;
    }
  }
}

.tooltip {
  position: absolute;
  background-color: $color-purple-deep;
  white-space: nowrap;

  &.show {
    font-size: 0.85em;
    padding: 7.5px;
  }
}
