.main {
  position: relative;
  @include trans(0.25);
  $self: &;
  @include desktop {
    &.open {
      padding-left: 270px;
    }

    &.open.mini {
      padding-left: 60px;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to top, $color-teal 0%, transparent 100%);
  }

  &__bg {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-image: url("~@/assets/gfx/lodge92_bg_s.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet {
      background-image: url("~@/assets/gfx/lodge92_bg_hd.jpg");
    }
    @include desktop {
      background-image: url("~@/assets/gfx/lodge92_bg_fhd.jpg");
    }
    @include desktop-lg {
      background-image: url("~@/assets/gfx/lodge92_bg_4k.jpg");
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: 33vh;
      background-image: linear-gradient(to bottom, transparentize($color-teal, 0.5) 0%, transparent 100%);
      transform: translateZ(-10px);
      transform-style: preserve-3d;
      z-index: 0;
      @include desktop {
        display: none;
      }
    }
  }

  &__section {
    // position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-flow: column;
    padding: 30px 0;
    @include mobile {
      padding: 30px 0 10vh;
    }

    &--start {
      .container {
        &:first-of-type,
        &:last-of-type {
          display: flex;
          flex-flow: column;
          align-items: center;
        }
      }

      #{$self}__title {
        text-align: center;
        margin: 0;
      }

      #{$self}__text {
        max-width: 720px;
        text-align: center;
      }
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    @include mobile {
      flex-flow: column;
      margin: 15px 0 0;
      align-items: center;
    }
  }

  &__btn {
    @include btn-primary;
    padding: 25px 15px;
    margin: 0;
    font-size: 1.1em;

    & + & {
      @include mobile {
        margin: 7.5px 0 0;
      }
    }

    &--icon {
      display: flex;
      align-items: center;

      &:before {
        display: block;
        font-family: "Material Icons";
        font-size: 1.5em;
        margin-right: 10px;
      }
    }

    &--gallery {
      &:before {
        content: "collections";
      }
    }

    &--booking {
      &:before {
        content: "calendar_view_month";
      }
    }

    &--info {
      &:before {
        content: "info";
      }
    }
  }

  &__logo {
    max-width: 270px;
    margin: 0 0 15px;

    svg {
      width: 100%;
      height: auto;
    }
    @include tablet {
      max-width: 270px;
    }
    @include mobile {
      max-width: 200px;
    }
  }

  &__loader {
    @include panel;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation-name: show;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    z-index: 999;
  }

  &__spinner {
    background-image: url("~@/assets/gfx/spinner.svg");
    background-size: 250%;
    background-position: center;
    width: 90px;
    height: 90px;
  }

  &__panel {
    @include panel;
    padding: 15px;
    height: 100%;
    @include mobile {
      padding: 7.5px;
    }

    .tab {
      padding: 0;
    }

    #{$self}__btn {
      font-size: 1em;
      margin: 0;
      @include mobile {
        margin: 0;
      }
    }

    #{$self}__btn + #{$self}__btn {
      margin-left: 7.5px;
      @include mobile {
        margin: 7.5px 0 0;
      }
    }

    p {
      margin: 0;

      & + p {
        margin-top: 15px;
      }
    }
  }

  &__list {
    margin: 0;
    padding-left: 20px;

    &--icons {
      padding-left: 0;
      list-style-type: none;
      height: 100%;
      padding: 30px 0 15px;
      display: flex;
      flex-flow: column;
      justify-content: center;

      #{$self}__item {
        padding-left: 0;
        display: flex;
        align-items: center;
        font-size: 0.9em;

        span {
          margin-right: 15px;
        }
      }
    }
  }

  &__item {
    padding-left: 10px;

    & + & {
      padding-top: 7.5px;
    }
  }
}

.text {
  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
    justify-content: flex-end;
    @include mobile {
      text-align: center;
      justify-content: center;
    }
  }

  &--left {
    text-align: left;
    justify-content: flex-start;
    @include mobile {
      text-align: center;
      justify-content: center;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-white;
      display: inline;
      text-decoration: none;
      text-decoration: underline;

      &:hover {
        color: $color-yellow;
      }
    }
  }
}

.tooltip {
  position: absolute;
  background-color: $color-purple-deep;
  white-space: nowrap;
  display: none;

  &.show {
    display: block;
    font-size: 0.85em;
    padding: 7.5px;
  }
}
