.calendar {
  $self: &;
  @include panel;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  height: 100%;
  padding-left: 0;
  @include mobile {
    padding: 7.5px 7.5px 7.5px 0;
  }

  &__btn {
    @include btn-primary;
  }

  &__indicator {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    text-align: center;
    text-transform: uppercase;
    width: 30px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  &__selector {
    padding: 15px 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    width: calc(100% - 30px);
    display: flex;
    flex-flow: column;
  }

  &__days {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    width: 100%;
    text-align: center;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;

    &--head {
      height: auto;

      #{$self}__day {
        padding: 5px 0;
      }
    }

    &--main {
      #{$self}__day {
        @include trans(0.25, box-shadow);
        box-shadow: inset 0 0 10px $color-white;
        border: 1px solid transparentize($color-white, 0.5);
        cursor: pointer;

        &--not-current {
          span {
            opacity: 0.5;
          }
        }

        &--blocked,
        &--disabled {
          box-shadow: inset 0 0 7.5px transparentize($color-white, 0.75);
          pointer-events: none;
        }

        &--booked {
          box-shadow: inset 0 0 7.5px $color-red;
          pointer-events: none;
        }

        &--inCart {
          border-color: $color-pink !important;
          box-shadow: inset 0 0 7.5px transparentize($color-white, 0.75);
          pointer-events: none;
        }

        &--today {
          border-color: $color-yellow !important;
        }

        &--selected {
          background-color: $color-white;
          color: $color-teal;
          box-shadow: inset 0 0 7.5px $color-teal;
          border: 1px solid transparentize($color-teal, 0.5);

          span {
            opacity: 1;
          }
        }

        &:hover {
          border-color: $color-white !important;
        }
      }
    }
  }

  &__day {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
