.calendar {
  $self: &;
  background-color: transparentize($color-teal, 0.25);
  display: flex;
  flex-flow: row wrap;

  &__btn {
    @include trans(0.25);
    cursor: pointer;
    padding: 5px;
    border: 1px solid $color-white;
    border-radius: 10px;
    height: 45px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    & + & {
      margin-left: 7.5px;
    }

    &:hover {
      box-shadow: 0 0 10px $color-white;
    }

    &.material-icons {
      padding: 10px;
    }
  }

  &__indicator {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    text-align: center;
    text-transform: uppercase;
    width: 30px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  &__selector {
    padding: 15px 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    width: calc(100% - 30px);
    display: flex;
    flex-flow: column;
  }

  &__days {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    width: 100%;
    text-align: center;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    border-top: 1px solid transparent;

    &--head {
      height: auto;

      #{$self}__day {
        padding: 5px 0;
      }
    }

    &--main {
      #{$self}__day {
        box-shadow: inset 0 0 7.5px $color-white;
        border: 1px solid transparentize($color-white, 0.5);
        cursor: pointer;

        &--not-current {
          opacity: 0.5;
        }

        &--today {
          border-color: $color-yellow;
        }

        &:hover {
          border-color: $color-white;
        }
      }
    }
  }

  &__day {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
