.cart {
  $self: &;

  &__items {
    display: flex;
    flex-flow: column;
    margin: 0 0 15px;
    padding: 0;
    width: 100%;
    list-style-type: decimal;
    counter-reset: list-item;
  }

  &__item {
    border: 0;
    padding: 0 30px 0 0;
    font-size: 0.85em;
    display: inline-flex;
    justify-content: flex-start;
    position: relative;

    & + & {
      margin-top: 5px;
    }

    p {
      margin: 0 0 2.5px;
      text-align: left;
    }

    &:before {
      counter-increment: list-item;
      content: counter(list-item) ".";
      display: flex;
      font-weight: normal;
      align-items: flex-start;
      font-size: 1em;
      margin: 0 10px 2.5px 0;
    }
  }

  &__details {
    // width: 100%;
  }

  &__btn {
    &--remove {
      cursor: pointer;
      background: none;
      border: 0;
      color: $color-white;
      font-size: 2em;
      padding: 0;
      margin-left: 15px;
      line-height: 1;
      border-radius: 10px;
      display: flex;
      align-self: flex-start;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 0;
      right: 0;

      &:before {
        content: '\00D7';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:focus {
        outline: 0;
      }
    }
  }

  &__date {
    white-space: nowrap;
  }
}
