.form {
  $self: &;

  &__group {
    display: flex;
    flex-flow: column-reverse;

    & + & {
      margin-top: 15px;
    }

    &--submit {
      align-items: flex-start;
    }

    &--alert {
      #{$self}__alert {
        color: $color-yellow;
      }
    }

    &--txt {
      #{$self}__input {
        background: none;
        border: 1px solid $color-white;
        border-radius: 10px;
        color: $color-white;
        padding: 10px;
        font-family: $font-stack;
      }
    }

    &--checkbox {
      flex-flow: column-reverse;

      #{$self}__input {
        display: none;
      }

      #{$self}__label {
        cursor: pointer;
        position: relative;
        padding-left: 30px;

        &:after,
        &:before {
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
        }

        &:before {
          content: '';
          border: 1px solid $color-white;
          border-radius: 5px;
        }
      }

      #{$self}__input:checked + #{$self}__label {
        &:after {
          content: 'check';
          display: block;
          font-family: $icons;
          padding: 1px;
        }
      }
    }
  }

  &__input {
    &:focus {
      outline: 0;
      box-shadow: inset 0 0 7.5px $color-white;
    }
  }

  &__label {
    font-size: 0.9em;
    margin-bottom: 5px;
  }

  &__btn {
    @include btn;
  }

  &__img {
    margin: 15px auto;
  }

  &--checkout {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: center;

    #{$self}__alert {
      text-align: center;
    }

    #{$self}__group--alert,
    #{$self}__group--submit {
      align-self: center;
    }
  }
}
