.status {
  @include trans(0.75);
  position: fixed !important;
  margin: 0;
  transform: translateX(-50%);
  z-index: 10;
  left: 50%;
  top: auto;
  bottom: -100%;
  transition-timing-function: ease-in;

  p {
    margin: 5px 0;
  }

  &--active {
    top: auto;
    bottom: 0;
    transform: translate(-50%, 0%);
    transition-timing-function: ease-out;
  }

  &__panel {
    @include panel;
    height: 100%;
    padding: 15px;
    min-height: 150px;
  }

  &__title {
    margin-top: 0;
    text-align: center;
  }

  &__date {
    & + & {
      &:before {
        content: '\a0-\a0';
        display: inline-block;
      }
    }
  }

  &__btn {
    @include btn;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);

    .material-icons {
      margin-left: 7.5px;
    }
  }
}
